<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

<!--    <bean id = "paymentService"-->
<!--          name = "paymentServiceName, paymentServiceBean"-->
<!--          class = "org.example.payment.PaymentService">-->
<!--&lt;!&ndash;        <constructor-arg index = "0" value = "upi" />&ndash;&gt;-->
<!--&lt;!&ndash;        <constructor-arg index = "0" value = "upi" />&ndash;&gt;-->
<!--        <constructor-arg name="type" value = "upi" />-->
<!--    </bean>-->

<!--    <bean id = "orderService" class = "org.example.OrderService">-->
<!--           <constructor-arg ref = "paymentService"/>-->
<!--    </bean>-->

<!--&lt;!&ndash;    <bean id = "orderService2" class="org.example.OrderService" />&ndash;&gt;-->

    <bean id="upiPaymentService" class="org.example.payment.UPIPaymentService"/>

    <bean id="cardPaymentService" class="org.example.payment.CardPaymentService"/>

    <bean id="orderService" class="org.example.OrderService">
        <constructor-arg ref="upiPaymentService" />
    </bean>

</beans>